

.header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid grey;
}

.header h2 {
    font-weight: 700;
    letter-spacing: .2rem;;
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect button, .connected button {
    margin-right:1.5rem;
}
.connect button, .connected button {
    font-size: .7rem;;
    padding:.4rem .6rem;
    transition: all .15s linear 0s;
    display: inline-block;
    background-color: white;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    border: 3px solid black;
    box-shadow: 0.5rem .4rem 0 white;
    cursor: pointer;
    position:relative;
}
/* .connected button{
    padding:.5rem .5rem ;
    margin-right: 2rem;


} */

.connect button:hover {
    top: 3px;
    left: -3px;
    box-shadow: 0.3rem .25rem 0 white;
}

.connect button:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
  }
  
.connect button:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
  }

  .connect button:active {
    top: 6px;
    left: -6px;
    box-shadow: none;
  }
  .connected button {
    top: 3px;
    left: -3px;
    box-shadow: 0.1rem .1rem 0 white;
  }