@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Syncopate', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 26, 26);
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:0;
  padding:0;
}
